<!DOCTYPE html>
<html>
    
<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!--script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>   

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() { $('body').bootstrapMaterialDesign(); });
</script>
    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
    #demo-menu-lower-left {
        margin-left: 40%;
    }

    .login {
            color:grey;
            margin-right: 10px;
            padding-right: 35px;
        }

    .loginForm{
        border-style: solid;
        border-radius: 10px;
        border-width: thin;
        border-collapse: green;
        padding: 60px;
        border-color: #e5f1e5;
        border-color: #c4ecf3;
        --box-shadow: 1px 1px 2px #bdd7db;
        --border-color: #bdbdbd;
        --box-shadow: 1px 2px 3px silver;
        box-shadow: 0px 10px 25px #adadad;
        background-color: white;
        --background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(147,230,241,1) 0%, rgba(145,192,241,1) 45.5% );
    }
    .title{
        padding: 10px;
        color:white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .bigTitle{
        font-size:80px;
        font-size: 72px;
        
    }
    .displayboard{
        background:white; 
    }

    .appointmentDetailHeader {
        color:#afadad;
        font-size: medium;
        font-weight: 800;
    }

    .appointmentDetailData {
        padding-left: 5px;
        color:black;
        font-weight: 800;
        padding-bottom: 20px;
    }
    
    .demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
        padding-right: 0;
    }
</style>

<body style="background: #f5f5f5;"  ng-app="myApp" ng-controller="personCtrl" >
    <div class="title" style="background: #65646436 ;">
        <div class="container" >
            <nav class="nav" style="float:left">
                <a class="nav-link active" aria-current="page" href="#">Doctors</a>
                <a class="nav-link" href="#">Pharmacy</a>
                <a class="nav-link" href="#">Diagnostic</a>
            </nav>

            <nav class="nav" style="float:right">
                <div ng-show="!loginForm" style = "margin-bottom: 50px;">   
                    <button ng-click="appointments();" class="btn btn-link text-left" type="button" >
                        <i class="material-icons">history</i>  Appointments
                    </button>
            
                    <button ng-click="showBookAppointment(); getPatients(); getClinics();" data-toggle="modal" data-target="#newappointmentModel" data-whatever="@getbootstrap" class="btn btn-link text-left" type="button" >
                        <i class="material-icons">add</i> New Appointment
                    </button>
                </div> 
                <a class="nav-link align-items-center"  href="#" ng-show="!loginForm" ng-click="logout();">  <i class="material-icons">lock</i>  Log out</a>
            </nav>


            <BR>            <BR>            <BR>
            <div class="row" ng-show="loginForm">
                <div class="col-md-3">
                    <img   src="/static/doctor.png"  width="200px" style="margin-bottom:50px;">
                </div>
        
                <div class="col-md-4 align-self-center" style="padding:20px;">
                    <span style= "font-size: 40px;font-weight: lighter; color: #71aab3;">Tension free simple doctor appointment app</span>
                </div>
            
                <div class="col-md-5">
                    <div class="row d-flex justify-content-center">
                        <div class="row row-cols-md-auto g-3 align-items-center" >  
                           
                            <div class="form-col loginForm" >
                                <!--img src="/static/logo.png" width="2 00px" style="margin-bottom:50px;"-->
                                <img src="/static/logo.png" width="150px" style="margin-bottom:50px;">
                                <div class="form-group row-md-4">
                                <label for="userName">Email</label> 
                                <input class="form-control"  type="text" ng-model="userName"><br>
                                </div>
                                <div class="form-group row-md-4">
                                <label for="password">Password</label> 
                                <input class="form-control"  type="password" ng-model="password"><br>
                                </div>
                                <div class="form-group row-md-4">
                                    <label for="login"></label> 
                                    <button class="btn btn-primary" type="button" ng-click="login();" >Login</button>
                                    <a href="#" ng-click="newRegisterForm(true)" ng-show="registerlink"  data-toggle="modal" data-target="#registerNewUser" data-whatever="@getbootstrap"> Register</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>  
                </div>
               
            </div>
            
        </div>
    </div>
    
    <BR>
    
        <div  class="displayboard">
        <div class="container">
           
            <!--div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                  
                   <span class="bigTitle">Hello</span>
                  </div>
                  <div class="carousel-item">
                     <span class="bigTitle">How</span>
                 
                        How is it better?
                  </div>
                  <div class="carousel-item">
                    <span class="bigTitle">Where</span>
                   
                        Where to to look for?
                  </div>
                </div>
               
              </div -->
        </div>
    </div>

    <div>   
        <div class="container">
        <div class="row" class=" align-self-center" >   
    </div>

    <BR><BR>
     
    


<!---->
    <div class="modal fade" id="registerNewUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Register new user</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="newuser.firstName">First name</label>
                            <input type="text" id="newuser.firstName" class="form-control" ng-model = "newuser.firstName" placeholder="First name">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="newuser.lastName">Last name</label>
                            <input  id="newuser.lastName" class="form-control" ng-model = "newuser.lastName" type = "text" placeholder="Last name">
                          </div> 
                    </div>
                   
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="newuser.userType">User type</label>
                            <input id="newuser.userType" class="form-control" ng-model = "newuser.userType" type = "text" placeholder="User type">
                           
                          </div>
                          <div class="form-group col-md-6">
                            <label for="newuser.age">Age</label>
                            <input id="newuser.age" class="form-control" ng-model = "newuser.age" type = "text" placeholder="Age">
                          </div> 
                    </div>
            
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="newuser.gender">Gender</label>
                            <input id="newuser.gender" class="form-control" ng-model = "newuser.gender" type = "text" placeholder="Gender">
                           
                          </div>
                          <div class="form-group col-md-6">
                            <label for="newuser.email">Email</label>
                            <input id="newuser.email" class="form-control" ng-model = "newuser.email" type = "email" placeholder="Email">
                          </div> 
                    </div>
            
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="newuser.phone">Phone</label>
                            <input id="newuser.phone" class="form-control" ng-model = "newuser.phone" type = "text" placeholder="Phone">
                            
                          </div>
                          <div class="form-group col-md-6">
                            <label for="newuser.country">Country</label>
                            <input id="newuser.country" class="form-control" ng-model = "newuser.country" type = "text" placeholder="Country">
                          </div> 
                    </div>
            
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="newuser.password">Password</label>
                            <input  class="form-control" id="newuser.password" ng-model = "newuser.password" type="password" placeholder="Password">
            
                          </div>
                          <div class="form-group col-md-6">
                            <label for="newuser.retypedPassword">Retype password</label>
                            <input  class="form-control" id="newuser.retypedPassword" ng-model = "newuser.retypedPassword" type="password" placeholder="Retype password">
                          </div> 
                    </div>
                    
          
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <Button class="btn btn-primary" ng-model = "newusersubmit" ng-click="register();">Register</Button>
        </div>
        </div>
    </div>
    </div>

<!---->
    <div class="New user" ng-show="newuser.showForm ">
    
    </div>
{{newuser.firstName}}



<!---->
    <div class="modal fade" id="newappointmentModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New appointment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="newappointment.clinicId" >Clinic</label>
                            <!--input type="text" id="newappointment.clinicId" class="form-control" ng-model = "newappointment.clinicId" placeholder="Clinic " -->
                            <div class="input-group mb-3">
                                <select class="custom-select" id="inputGroupSelect02"   ng-model = "newappointment.clinicId">
                                        <option value="{{x.uid}}"  ng-repeat = "x in clinics">{{x.name  + " " +x.address}}</option>
                                </select>
                            </div> 
                        </div>
            
                          <div class="form-group col-md-12">
                            <label for="newappointment.patientId">Patient</label>
                            <!--input  id="newappointment.patientId" class="form-control" ng-model = "newappointment.patientId" type = "text" placeholder="Patient" -->
                          
                            <div class="input-group mb-3">
                                <select class="custom-select" id="inputGroupSelect01"   ng-model = "newappointment.patientId">
                                        <option value="{{x.uid}}"  ng-repeat = "x in patients">{{x.firstName }}</option>
                                </select>
                            </div>
                        </div> 
            
                        <div class="form-group col-md-12">
                            <label for="newappointment.slotDateTime">Appointment date</label>
                            <input id="newappointment.slotDateTime" class="form-control" ng-model = "newappointment.slotDateTime"  value="2011-08-19T13:45:00" type="datetime-local">
                           
                          </div>
                          <div class="form-group col-md-12">
                            <label for="newappointment.contactPhone">Age</label>
                            <input id="newappointment.contactPhone" class="form-control" ng-model = "newappointment.contactPhone" type = "text" >
                          </div> 
            
                        <div class="form-group col-md-6">
                            <label for="newappointment.diseaseId">Disease</label>
                            <input id="newappointment.diseaseId" class="form-control" ng-model = "newappointment.diseaseId" type = "text" >
                          </div>
                    </div>
            
                   
                </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <Button class="btn btn-primary" ng-model="newusersubmit" ng-click="bookAppointment();">Book</Button>
        </div>
        </div>
    </div>
    </div>
<!---->

<div class="New user" ng-show="newappointment.showForm">
    
</div>




    <div>
        <div ng-repeat = "x in myappointments" class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    
                    
                   
                  
                        <div class="btn-group btn-group-sm row" role="group" aria-label="Button group with nested dropdown">
                            <div class="btn-group btn-group-sm" role="group">
                              <button id="btnGroupDrop{{$index}}" type="button" class="btn btn-secondary " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="btnGroupDrop{{$index}}">
                                <a class="dropdown-item" href="#cancelApp{{$index}}">Cancel</a>
                                <a class="dropdown-item" href="#reschedule{{$index}}">Re-schedule</a>
                              </div>
                            </div>
                            <div class="float-right">
                                <button ng-click="getQrCode(x.uid)" class="btn btn-link text-left" type="button" data-toggle="collapse" data-target="#appointment{{$index}}" aria-expanded="true" aria-controls="collapseOne" style = "float:left">
                                    <i class="material-icons">expand_more</i>
                                    <strong>Appointment {{$index+1}} </strong>  {{x.slotDateTime | date}}
                                </button>
                            </div>
                          </div>
                 
                         

                    <div id="appointment{{$index}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">            
                                <div class="row">
                                    <!--div class="col-md-2">
                                        <img ng-src="{{x.qrcode}}">
                                    </div-->
                                    <div class="col-md-4">
                                        <!--div class="col">
                                            <div class="row appointmentDetailHeader">APPOINTMENT </div>
                                            <div class="row appointmentDetailData"><h6>{{x.uid | uppercase}}</h6> </div>
                                        </div-->
                                        <div class="col">
                                            <div class="row appointmentDetailHeader"><i class="material-icons">insert_invitation</i>  &nbsp; APPOINTMENT DATE   </div>
                                            <div class="row"><h6>{{x.slotDateTime | date}}</h6>  </div>
                                        </div>
                                        <div class="col">
                                            <div class="row appointmentDetailHeader">CANCELLATION   </div>
                                            <div class="row appointmentDetailData"><h6>{{x.cancelled}}</h6>   </div>
                                        </div>
                                
                                        <div class="col">
                                            <div class="row appointmentDetailHeader"> BOOKING DATE </div>
                                            <div class="row appointmentDetailData"><h6>{{x.createdOn  | date }}  </h6></div>
                                        </div>
                                    </div> 
                                    <div class="col-md-4">
                                        <div class="row appointmentDetailHeader"> <i class="material-icons">business</i> &nbsp; CLINIC / HOSPITAL  </div>
                                        <h6><b> 
                                            {{x.clinic.name}},</b> {{x.clinic.address}} </h6>
                                        <h6> <i class="material-icons">phone</i>  Contact - {{x.clinic.phone}}</h6>
                                        <div class="">
                                            <img ng-src="{{x.qrcode}}">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="row appointmentDetailHeader"><i class="material-icons">person</i>  PATIENT </div>
                                        <h6> {{x.patient.firstName}}</h6>
                                        <h6> <i class="material-icons">phone</i> {{x.patient.phone}}</h6>
                                    </div>
                                    
                                </div>
                                
                        </div>
                      </div>
    
                  </div>
                  </div>
           
        </div>
    </div>
    

</div>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('personCtrl', function($scope, $http) {
    $scope.userName = "rakesh.kumar@gmail.com";
    $scope.password = "kumar";
    $scope.loginToken = "";
    $scope.myappointments = [];
    $scope.patients = [];
    $scope.loginForm = true;
    $scope.registerlink = true;
    $scope.login = function() {
            $http({
                url: 'login',
                method: "POST",
                data: { 'username' : $scope.userName, 'password': $scope.password }
            })
            .then(function(response) {
                    // success
                    console.log(response);
                    $scope.loginToken = response.data.token;
                    console.log("-->")
                    console.log($scope.loginToken)
                    $scope.password = "";
                    $scope.loginForm = false;
                    $scope.registerlink = false;
            }, 
            function(response) { // optional
                    // failed
                    console.log("Failed")
            });
    }
    
    $scope.logout = function(){
        $scope.loginToken = ""
        $scope.myappointments = [];
        $scope.loginForm = true;
        $scope.registerlink = true;
    }

    $scope.appointments = function () {
        console.log(config)
        var config = {headers:  {
        'Authorization': 'Bearer ' + $scope.loginToken,
        'Content-Type': 'application/json'
        }
    }; 
        $http.get("v2/appointment", config).then(function(response) {
            // success
            console.log(response);
            $scope.myappointments = response.data;
        }, 
        function(response) { // optional
                // failed
                console.log("Failed")
        });;
    }
    
    // PATIENTS
    $scope.getPatients = function () {
        console.log(config)
        var config = {headers:  {
        'Authorization': 'Bearer ' + $scope.loginToken,
        'Content-Type': 'application/json'
        }
        }; 
        $http.get("v1/patients", config).then(function(response) {
            // success
            console.log(response);
            $scope.patients = response.data;
        }, 
        function(response) { // optional
                // failed
                console.log("Failed")
        });;
    }

    // CLINICS
    $scope.getClinics = function () {
        console.log(config)
        var config = {headers:  {
        'Authorization': 'Bearer ' + $scope.loginToken,
        'Content-Type': 'application/json'
        }
        }; 
        $http.get("v1/clinics", config).then(function(response) {
            // success
            console.log(response);
            $scope.clinics = response.data;
        }, 
        function(response) { // optional
                // failed
                console.log("Failed")
        });;
    }

    // New User
    $scope.newuser =  {}
    $scope.newuser.showForm = false;
	$scope.newuser.userType = 1
	$scope.newuser.firstName = ""
	$scope.newuser.lastName = ""
	$scope.newuser.genderId = 2
	$scope.newuser.age = 18
	$scope.newuser.phone = ""
	$scope.newuser.email = ""
	$scope.newuser.countryId = 2
	$scope.newuser.password  = "",
    $scope.newuser.retypedPassword= ""
    
    $scope.newRegisterForm = function(show){
        $scope.newuser.showForm = show;
    }
    // Hide this form on load
    $scope.newRegisterForm(false);

    $scope.register = function () {
       // console.log(config)
        
        var data = {
            "userType": $scope.newuser.userType *1,
            "firstName": $scope.newuser.firstName,
            "lastName": $scope.newuser.lastName,
            "genderId": $scope.newuser.genderId *1,
            "age": $scope.newuser.age *1,
            "phone": $scope.newuser.phone,
            "email": $scope.newuser.email,
            "countryId": $scope.newuser.countryId *1,
            "password": $scope.newuser.password,
            "retypedPassword": $scope.newuser.retypedPassword
        }
        $http({
            url: "/v1/user", 
            method: "POST",
            data: data
            }).then(function(response) {
            //Login
            $scope.userName =  $scope.newuser.email;
            $scope.password = $scope.newuser.password;
            //For security
            $scope.newuser.password = "";
            $scope.newuser.retypedPassword = "";
            
            $scope.login();
            $scope.newRegisterForm(false);
        }, 
        function(response) { // optional
                // failed
                console.log("Failed")
        });;
    }

    $scope.showBookAppointment = function(){
        $scope.newappointment.showForm = true;
    }

    $scope.newappointment = {}
    $scope.newappointment.accountId = ""
    $scope.newappointment.clinicId = ""
    $scope.newappointment.patientId = ""
    $scope.newappointment.slotDateTime = ""
    $scope.newappointment.contactPhone = ""
    $scope.newappointment.diseaseId = 1
    $scope.newappointment.showForm = false;

    $scope.bookAppointment = function () {
       // console.log(config)
        var data = {
            "accountId": $scope.newappointment.accountId,
            "clinicId": $scope.newappointment.clinicId,
            "patientId": $scope.newappointment.patientId,
            "slotDateTime": $scope.newappointment.slotDateTime,
            "contactPhone": $scope.newappointment.contactPhone,
            "diseaseId": $scope.newappointment.diseaseId * 1
        }

        $http({
            url: "/v1/appointment", 
            method: "POST",
            data: data,
            headers:  {
                'Authorization': 'Bearer ' + $scope.loginToken,
                'Content-Type': 'application/json'
                }
            }).then(function(response) {
            //Login
            $scope.myappointments = $scope.myappointments.concat(response.data);
                response.data
        }, 
        function(response) { // optional
                // failed
                console.log("Failed")
        });;
    }

    $scope.qcode = ""
    $scope.getQrCode = function (appointmentId) {
        console.log(config)
        var config = {headers:  {
        'Authorization': 'Bearer ' + $scope.loginToken,
        'Content-Type': 'application/json'
        },
        responseType: 'arraybuffer',
        params: {appointmentId: appointmentId},
        }; 

        $http.get("v1/qrcode", config).then(function(response) {
            // success
            let blob = new Blob([response.data], {type: "'image/png'"});
            $scope.qcode =  (window.URL || window.webkitURL).createObjectURL(blob);
            $scope.myappointments
            for (i = 0; i <  $scope.myappointments.length; i++) {
                if ($scope.myappointments[i].uid == appointmentId) {
                    $scope.myappointments[i]["qrcode"] = $scope.qcode;
                    break;
                }
               
            }
        }, 
        function(response) { // optional
                // failed
                console.log("Failed")
        });;
    }

    //
    $scope.arrayBufferToBase64 =  function (buffer) {
        var binary = '';
        var bytes = new Uint8Array(buffer);
        console.log("--->**")
        console.log(bytes)
        var len = bytes.byteLength;
        for (var i = 0; i < len; i++) {
            console.log("--->")
            binary += String.fromCharCode(bytes[i]);
        }
        return window.btoa(binary);
  }
});
</script>

</body>
</html>
